@model IEnumerable<blog_template_practice.Models.Content>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Index.css" rel="stylesheet" type="text/css" />
    <title>Blog Posts</title>
</head>

<body>
    <h1>Blog Posts</h1>

    <section class="Contents">
        @foreach (var content in Model)
        {
            <ul>
                <a href="/Content/Details/@content.Id"><img src="~/@content.Image" alt="Content Photo" style="width:25%;height:25%;">@content.Title</a>
            </ul>
        }
    </section>

    <nav>
        <a href="/Content/Index">All Blog Posts</a>
        <a href="/Category/Index/"> Categories </a>
        <a href="/Content/Create/"> New Blog Post </a>
    </nav>
</body>
</html>

