@model blog_template_practice.Models.Content
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/CreateUpdate.css" rel="stylesheet" type="text/css" />
    <title>Edit</title>
</head>
<Container>
    <body>
        <header>
            <h4>Edit Your Blog Post</h4>
        </header>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Update">
                    <div class="text-success">@ViewBag.Result</div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <br>
                        <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Author" class="control-label"></label>
                        <br>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <br>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Body" class="control-label"></label>
                        <br>
                        <textarea asp-for="Body" class="form-control" name="Body" rows="10" cols="60"></textarea>
                        <span asp-validation-for="Body" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <label asp-for="PublishDate" class="control-label"></label>
                        <input asp-for="PublishDate" class="form-control" />
                        <span asp-validation-for="PublishDate" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <br>
                        <input asp-for="Image" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ColorId" class="control-label"></label>
                        <br>
                        <select asp-for="ColorId" class="form-control" asp-items="@(new SelectList(ViewBag.Colors, "Id", "Name"))"></select>
                        <span asp-validation-for="ColorId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <nav>
            <a href="/Content/Index">All Blog Posts</a>
            <a href="/Category/Index/"> Categories </a>
            <a href="/Content/Create/"> New Blog Post </a>
        </nav>
        <footer>
            &copy; 2021 Tiah Campbell
        </footer>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </body>
</Container>
</html>
